# Ambiente virtual
venv/
.env

# Arquivos temporários e cache do Python
__pycache__/
*.py[cod]
*.so

# Banco de dados SQLite
*.db
*.sqlite3

# Configurações de IDE
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do Streamlit
.streamlit/config.toml